html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset Css */


body{
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
}

.main-content{
    min-height: 80vh;
}

.main-header {
    position: absolute;
    background-color: transparent;
    display: flex;
    width: 100%;
    flex-direction: column;
    top: 5vh;
}
.main-header ul {
    list-style-type: none;
}
.main-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    margin-right: 2em;
}
.main-nav li {
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
}

.main-nav a {
    color: black;
    text-transform: uppercase;
    font-size: 1.05em;
}

.header {
    display: flex;
    justify-content: center;
}

.header .logo {
    width: 54%;
    margin-left: 4em;
}

.sticky {
    position: fixed;
    top: 0;  
    animation: transitionBar;
    animation-duration: 1s;
    animation-delay: 0.1s; 
    animation-fill-mode: forwards;
    width: 100%;
    z-index: 1000;
    text-transform: uppercase;
}

.sticky .main-nav {
    top: 5vh;
}

@keyframes transitionBar{
    0%{background-color: transparent;}
    100%{background-color:white; }
}



.main-nav li a:not(.active) {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
.sticky .main-nav li a:not(.active) {
    color: #3D4C4F;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
.main-nav li a:after {    
    background: transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #212f30;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.main-nav li a:hover:after { 
    width: 100%; 
    left: 0; 
}

.active {
    color: #3D4C4F;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
.sticky a {
    top: 2vh;
}

.container-image {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}
.container{
    width: 100%;
    height: 100vh;
}

.container h1 {
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 45%;
    left: 35%;
    font-size: 6em;
}

.top- {
    background-image: url('../images/main1.jpeg');
}

.todo- {
    background-image: url('../images/todo1.jpeg');
}

.todo- h1{
    left: 34%;
    
}

.eat- {
    background-image: url('../images/eat1.jpeg');
}
.eat- h1 {
    left: 25%;
}

.contact- {
    background-image: url('../images/contact1.jpeg')
}

.contact- h1{

    left: 5%;
}

.main-text {
    font-size: 2em;
    text-align: justify;
}

.main-text-two {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    font-size: 2em;
    text-align: justify;
}

.main-images {
    width: 29vw;
    height: 83vh;
}
.first-content {
    display: flex;
    flex-grow: 1;
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: 4em;
}

.first-content .inner-first{
    display: flex;
    flex-direction: column;
    margin-left: 4em;
    margin-right: 4em;
}

.inner-first h2 {
    font-size: 4em;
    text-align: center;
    margin-bottom: .5em;
}

.inner-first ul {
    list-style-type: circle;
    list-style-position: inside;
}
.inner-first li {
    margin-top: .5em;
    font-size: 1.5em;
}

.inner-first li a {
    text-decoration: none;
    color: #212f30;
}

.second-content {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-bottom: 3em;
}

.things-todo {
    display: flex;
    margin-left: 5em;
    margin-right:5em;
    margin-bottom: 3em;
    justify-content: center;
}

.first-middle {
    background-image: url("../images/main3.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: width 1.6s, height 1.6s, transform 1.3s .5s;
    opacity: 1;
    height: 60vh;
    width: 25vw;
    margin-right:1em;
}
.hidden-stuff {
    opacity: 0;
    transition-timing-function: ease-out;
    transition: opacity 1.2s 1.2s, margin-top 1s 1s;
    margin-top: 10%;
    color: white;
}

.hidden-stuff p {
    margin-left: 1em;
    margin-right: 1em;
}

.first-middle:hover{
   backdrop-filter: grey; 
   transform: scale( 1.4) translateX(30%);
   z-index: 200;
}
.first-middle:hover .hidden-stuff {
    opacity: 1;
    margin-top: 70%;
}
.second-middle {
    background-image: url("../images/main4.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: width 1.6s, height 1.6s, transform 1.3s .5s;
    opacity: 1;
    height: 60vh;
    width: 25vw;
    margin-left: 1em;
    margin-right: 1em;
}

.second-middle:hover{
    backdrop-filter: grey; 
    transform: scale( 1.4) translateX(10%);
    z-index: 200;
}

.second-middle:hover .hidden-stuff {
    opacity: 1;
    margin-top: 70%;
}

.third-middle {
    background-image: url("../images/main5.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: width 1.6s, height 1.6s, transform 1.3s .5s;
    opacity: 1;
    height: 60vh;
    width: 25vw;
    margin-left: 1em;
}

.third-middle:hover{
    backdrop-filter: grey; 
    transform: scale( 1.4) translateX(-20%);
    z-index: 200;
}

.third-middle:hover .hidden-stuff {
    opacity: 1;
    margin-top: 70%;
}

.main-todo-stuff {
    opacity: 0;
    position: absolute;
    text-align: center; 
    margin-top: 10%;
    margin-left: 1vw;
    font-size: 50px;
    color: white;
    transition: opacity 1.6s;
}
.main-todo-stuff a {
    text-decoration: none;
    color: white;
}

/* .inner-second:hover {
    filter: grayscale(50%);
}  */
.inner-second:hover .main-todo-stuff {
    opacity: 1;
    font-weight: bold;
}

.second-content h2 {
    font-size: 3em;
    margin-bottom: 1em;
    text-align: center;
}

.footer {
    display: flex;
    background-color:#A9A9A9;
    margin-bottom: 0;
    flex-grow: 1;
    height: 20%;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.footer p {
    font-size: 1.2em;
}

.footer a {
    margin-left: 1em;
    font-size: 1.8em;
    color: #292e36;
}

.footer img {
    width: 10%;
    height: 10%;
}

.todo-icons{
    z-index: 20;
    position: absolute;
    top: 80vh;
    background-color: white;
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icons-act {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    height: 10%;
    width: 18%;
}

.icons-act a {
    font-size: 3em;
    color: #306297;
}

.icons-act h3 {
    margin-top: 0.7em;
    font-size: 1.8em;
}
.todo-content {
    display: flex;
    margin: 2em;
    align-items: center;
}
.todo h2{
    font-size: 2.5em;
    margin-bottom: 1em;
    text-align: center;
}
.todo h2 a{
    color: black;
}

.todo p {
    font-size: 1.5em;
    margin-top: .5em;
    margin-bottom: .5em;
}

.todo .todo-introduction {
    margin-bottom: 2em;
}

.todo {
    margin-left: 1.5em;
    width: 40%;
}

.todo ul {
    list-style-type: circle;
    list-style-position: inside;
}

.todo ul li {
    margin-bottom: 1em;
    font-size: 1.5rem;
}

.todo-list {
    margin-bottom: .5em;
}

.contact-Us {
    width: 100%;

}

input {
    width: 60%;
    margin-top: 2em;
    margin-left: 20em;
    margin-bottom: 3em;
    padding: 1em;
    box-sizing: border-box;
}

textarea {
    margin-left: 20em;
    width: 60%;
    height: 30em;
}


.first- img {
    width: 48vw;
    height: 60vh;
}

.first- {
    margin-bottom: 6em;
    display: flex;
}

.second- img {
    width: 40vw;
    height: 90vh;
}

.second- {
    margin-bottom: 6em;
    display: flex;
}

.third- img {
    width: 35vw;
    height: 90vh;
}

.third- {
    margin-bottom: 6em;
    display: flex;
}

.fourth- img {
    width: 58vw;
    height: 68vh;
}

.fourth- {
    margin-bottom: 6em;
    display: flex;
}

.fifth- img {
    width: 40vw;
    height: 90vh;
}

.fifth- {
    margin-bottom: 6em;
    display: flex;
}

.main-todo-content {
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 4em;
}
.slider-container img {
    max-width: 100%;
    position: relative;
    z-index: 100;
}
.slider-desc {
	color: #fff;
	position: absolute;
    background: #345d88;
    z-index: 0;
    top:0;
    height: 100%;
    width: 100%;
}

.sliderOne {
    background: #868950;
}
.sliderTwo {
    background: #4f3b28;
}

.sliderThree {
    background: #dca14a;
}

.sliders-images {
    perspective: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2em;
}

.sliders-images-two {
    margin-bottom: 3em; 
    margin-top: 3em;
    display: flex;
}
.sliders {
    transition: transform 1.5s ease-out .3s;
    transform-style: preserve-3d;
}

.sliders:hover {
    transform: rotateY(-180deg);
}

.slider-one {
    width: 40vw;
    height: 50vh;
}

.slider-two {
    width: 35vw;
    height: 45vh;
}

.slider-three {
    width: 45vw;
    height: 50vh;
    margin-right: 1em;
    margin-left: 6em;
}

.slider-four {
    width: 35vw;
    height: 78vh;
}

.third-content {
    display: flex;
    flex-direction: column;
}

.side-a,
.side-b {
    backface-visibility: hidden;
}

.side-b {
    transform: rotateY(180deg);
}

.sliders-images-two h2{
    font-size: 3em;
    margin-bottom: 1em;
    text-align: center;
}

.sliders-images-two{
    margin-left: 5em;
    margin-right: 5em;
    align-items: center;
}

.slider-desc h2 {
    color: white;
    font-size: 3em;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.slider-desc h2 a{
    color: white;
    text-decoration: none;
}

.slider-desc p {
    color: white;
    font-size: 1.6em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

.inner-left-sliders-images-two {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.inner-left-sliders-images-two p {
    margin-bottom: 1em;
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
}








.restaurants-one {
    background-color: rgb(234, 234, 234);
    position: relative;
    height: 92vh;
    width: 100%;
}

.inner-eat-first {
    background-color: white;
    width: 28vw;
    height: 40vh;
    margin-left: 3%;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inner-eat-first p {
    margin-top: 1em;
    margin-left: .5em;
    margin-right: .5em;
    font-family: 'Nunito', sans-serif;
}
.inner-eat-first a {
    text-decoration: none;
    color: black;
}

.inner-eat-first h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: .5rem;
}

.restaurants-one-image-one img {
    position: absolute;
    width: 22vw;
    height: 43vh;
    top: 0;
    left: 38vw;
    padding: .6em;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.restaurants-one-image-two img {
    position: absolute;
    width: 40vw;
    height: 40vh;
    bottom: 3vh;
    right: 2vw;
    padding: .6em;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.restaurants-one-image-three img {
    position: absolute;
    width: 30vw;
    height: 40vh;
    top: 0;
    right: 2vw;
    padding: .6em;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.restaurants-one-image-four img {
    position: absolute;
    width: 30vw;
    height: 32vh;
    bottom: 5vh;
    left: 5vw;
    padding: .6em;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.restaurants-one {
    display: block;
}
.restaurants-two,
.restaurants-three,
.restaurants-four,
.restaurants-five{
    display: none;
    position: relative;
}

#minusOne {
    font-size: 20px;
    opacity: .5;
    transition: opacity 1s;
    padding-left: 8px;
}

#plusOne {
    font-size: 20px;
    padding-right: 8px;
    opacity: .5;
    transition: opacity 1s;
}

#plusOne:hover,
#minusOne:hover {
    cursor:pointer;
    opacity: 2;

}
.wrap header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
    align-items: center;
}

.wrap header p {
    font-size: 1.5em; 
}
.wrap:hover p {
    cursor:pointer;
}